body {
    font-family: sans-serif;
  }
  nav {
    width: 50%;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dadada;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
  }
  
  li a:hover {
    border-bottom: 5px solid #32a8a0;
    background-color: #343434;
    color: white;
  }
  .active {
    background-color: #32a8a0;
    color: white;
  }